body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #464444;
  background: #FFC3C3;
}

header{
  background-image: url("../images/favicon.jpg");
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  height: 400px;                /* Parallax effect */
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover; 
}

.intro{
  padding-top: 80px;
  padding-bottom: 140px;
  text-align: center;
}

a.skip {
  position: absolute;
  top: -40px;
}

a.skip:focus{
  top: 10px;
}

.nav_links{
  display: inline-block;
  padding-top: 25px;
}

.nav_links a{
  color: #464444;
  padding: 0 25px;
  font-size: 20px;
  text-decoration: none;
}

.nav_links a:hover {
	color: white;
}

.nav_links .current{
  color: grey;
  text-decoration: underline;
}

h1{
  font-size: 50px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
}


@media screen and (min-width: 850px){

.nav_links{
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

.intro{
  text-align: left;
}

 .nav_item a{
    padding: 10px;
  }

h1{
  font-size: 70px;
}

h2{
  font-size: 40px;
}