body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #464444;
  background: #FFC3C3;
}

header{
  background-image: url("../images/favicon.jpg");
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
}

.intro{
  padding-top: 90px;
  padding-bottom: 150px;
  text-align: center;
}

.skip a{
  position: absolute;
  top: -40px;
}

.skip a:focus{
  top: 40px;
}

.nav_links{
  border-top: 2px solid #464444;
  border-bottom: 2px solid #464444;
  background: #FCE7E7;
  flex-wrap: wrap;
}

.nav_item a{
  color: #464444;
  font-size: 20px;
  text-decoration: none;
}

.nav_item a:hover {
	color: white;
  text-decoration: underline;
}

h1{
  font-size: 80px;
  color: #464444;
}

h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  color: #464444;
}


.about_par{
  background: #FCE7E7;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
}

.list {
  list-style-type: circle;
}

#image1, #image2, #image3, #image4, #image5, #image6, #image7, #image8, #image9 {
  height: 290px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

.gallery{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about_text{
  display: none;
}

@media screen and (min-width: 850px){

.nav_links{
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

.intro{
  text-align: left;
}

 .nav_item a{
    padding: 10px;
  }

ul{
  padding-left: 50px;
}

.about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 240px auto auto auto;
  text-align: left;
  grid-column-gap: 10px;
  line-height: 2;
}

.about_par{
  font-size: 25px;
  grid-column: 1/ -1;
  grid-row: 1/ span 1;
}

.about_title{
  font-size: 30px;
}

.about_text{
  display: inline;
  font-size: 20px;
  grid-column: 2/-1;
  grid-row: 2/ -1;
}

#image1, #image2, #image3, #image4, #image5, #image6, #image7, #image8, #image9 {
  max-height: 190px;
  max-width: 165px;
}

.gallery{
  grid-row: 2/ -1;
  grid-column: 1/ span 1;
  flex-direction: row;
}




}

