body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #464444;
  background: #ECEFFA;
}

main{
  padding: 50px 150px;
  line-height: 1.5;
}

header{
  background-color: #BECBF6;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.intro{
  text-align: center;
  padding-top: 90px;
  padding-bottom: 150px;
}

.skip a{
  position: absolute;
  top: -40px;
}

.skip a:focus{
  top: 40px;
}

.nav_links{
  padding-top: 25px;
  flex-wrap: wrap;
}

.nav_item a{
  color: #464444;
  font-size: 20px;
  text-decoration: none;
}

.nav_item a:hover {
	color: white;
  text-decoration: underline;
}

h1{
  font-size: 80px;
  color: #464444;
}

h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
}

@media screen and (min-width: 850px){

.nav_links{
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

.intro{
  text-align: left;
}

 .nav_item a{
    padding: 10px;
  }
}