@media screen and (min-width: 850px){

.nav_links{
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  justify-content: none;
}

.intro{
  text-align: left;
}

 .nav_item a{
    padding: 10px;
  }

h1{
  font-size: 70px;
}

h2{
  font-size: 40px;
}

main{
  line-height: 1.5;
  padding: 0px 150px;
}



.about{
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 15px;
}

.images_1{
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
}

.images_2{
  grid-column: 1/ span 1;
  grid-row: 2/ span 1;
}

.images_3{
  grid-column: 1/ span 1;
  grid-row: 3/ span 1;
}

.about_one{
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
}


.about_two{
  grid-column: 2/ span 1;
  grid-row: 2/ span 1;
}

.about_three{
  grid-column: 2/ span 1;
  grid-row: 3/ span 1;
}

.about_one, .about_two, .about_three{
  display: inline;
  line-height: 2;
  font-size: 100%; 
}



.about_text{
  display: inline;
}

.images_1 > img, .images_2 > img, .images_3 > img {
  height: 175px;
  width: 130px;
  display: inline;
}

h3{
  font-size: 30px;
}

.experience_head{
  font-size: 50px;
}

.experience_sub{
  font-size: 30px;
  padding-top: 20px;
}

.experience_body{
  padding: 0px 80px;
}

.overview, .overview_summit, .unishop_body, .vw_body{
  font-size: 100%;
  line-height: 1.5;
}


#estee1{
  height: 270px;
  width: 200px;

}

#estee2{
  width: auto;
  height: 200px;
  padding-right: 10px;
}

#summit1, #summit3, #summit4{
  height: 200px;
  width: 300px;
}

#summit2{
  height: 400px;
  width: 300px;
}


#image_unishop, #image_vw{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}