body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #464444;
  background: #FFC3C3;
}

header{
  background-image: url("../images/favicon.jpg");
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.intro{
  padding-top: 90px;
  padding-bottom: 150px;
  text-align: center;
}

.skip a{
  position: absolute;
  top: -40px;
}

.skip a:focus{
  top: 40px;
}

.nav_links{
  flex-wrap: wrap;
  padding-top: 25px;
}

.nav_item a{
  color: #464444;
  font-size: 20px;
  text-decoration: none;
}

.nav_item a:hover {
	color: white;
  text-decoration: underline;
}

h1{
  font-size: 80px;
  color: #464444;
}

h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  color: #464444;
}


.about_par{
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  padding: 50px 50px;
}

ul {
  list-style-type: circle;
}

img {
  height: 290px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.about_one, .about_two, .about_three{
  display: none;
}

@media screen and (min-width: 850px){

.nav_links{
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}

.intro{
  text-align: left;
}

 .nav_item a{
    padding: 10px;
  }

main{
  line-height: 1.5;
}

.about_par{
  padding: 50px 100px;
}


.about{
  text-align: left;
  padding: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.img1{
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
}

.img1{
  grid-column: 1/ span 1;
  grid-row: 2/ span 1;
}

.img1{
  grid-column: 1/ span 1;
  grid-row: 3/ span 1;
}

.about_one{
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
}


.about_two{
  grid-column: 2/ span 1;
  grid-row: 2/ span 1;
}

.about_three{
  grid-column: 2/ span 1;
  grid-row: 3/ span 1;
}

.about_one, .about_two, .about_three{
  display: inline;
  line-height: 2;
  padding-left: 50px; 
}


.about_par{
}

.about_title{
}

.about_text{
  display: inline;
}

img {
  max-height: 175px;
  max-width: 130px;
  display: inline;
}

h3{
  font-size: 30px;
}


}

